.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    flex-direction: column;
}

.formContainer {
    border: 1px solid #cad2c5;
    border-radius: 10px;
    width: -moz-fit-content;
    width: fit-content;
    padding: 50px;
    margin: 50px;
    height: fit-content;
    background-color: #fff;
}

.header {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 40px;
    color: #00b4d8;
}

.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    height: 75px;
}

.formField label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #6c757d;
    text-align: left;
}

.formField:nth-child(6) label {
    color: #5d97d1;
}

.formField span {
    text-align: left;
    height: 15px;
    margin-top: 5px;
    font-size: .7rem;
    width: -moz-fit-content;
    line-height: 10px;
    padding: 2px 3px;
    width: fit-content;
    color: red;
    border-radius: 3px;
    background-color: rgba(225, 0, 0, 0.175);
}

.formInput {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid #cad2c5;
    transition: all .2s ease-in;
}

.notCompleted {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding: 0 10px;
    border: 1px solid red;
}

.formInput:focus,
.notCompleted:focus {
    outline: none;
    line-height: 30px;
    height: 30px;
    border: 1px solid #5d97d1;
}

.checkboxField {
    display: flex;
    justify-content: space-between;
    flex-direction: row !important;
    align-items: center;
    text-align: center;
    height: 20px !important;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    border: 1px solid #5d97d1;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    transition: all .2s ease-in;
}

input[type='checkbox']:checked {
    border-radius: 50%;
    background-color: #5d97d1;
}

.buttonField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.buttonField button {
    padding: 10px 20px;
    color: #fff;
    background-color: #00b4d8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
    transition: all .2s ease-in;
}

.buttonField button:hover{
    background-color: #6987c9;
}

.buttonField p {
    font-size: .9rem;
    color: #6c757d;
}

.buttonField a {
    text-decoration: none;
    color: #00b4d8;
}

@media (max-width:450px) {
    .formContainer{
        padding: 20px;
        margin: 50px 20px;
        width: 90%;
    }
    .formInput, .notCompleted {
        width: 90%;
    }
}